In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/1976-2020-house.csv')

In [8]:
data[data['state'] == 'WASHINGTON'][data[data['party'] =='DEMOCRAT']].groupby('district').sum()

ValueError: Boolean array expected for the condition, not object

In [34]:
data[data['state'] == 'WASHINGTON'][data['party'] =='REPUBLICAN'][data['year']==2020].groupby('district').sum()

<ipython-input-34-3bb99c50f726>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['state'] == 'WASHINGTON'][data['party'] =='REPUBLICAN'][data['year']==2020].groupby('district').sum()
<ipython-input-34-3bb99c50f726>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['state'] == 'WASHINGTON'][data['party'] =='REPUBLICAN'][data['year']==2020].groupby('district').sum()

,year,state_fips,state_cen,state_ic,special,writein,candidatevotes,totalvotes,unofficial,version,fusion_ticket
district,,,,,,,,,,,
1,2020,53,91,73,0,0,176407,426862,0,20210604,0
2,2020,53,91,73,0,0,148384,404598,0,20210604,0
3,2020,53,91,73,0,0,235579,417903,0,20210604,0
4,2020,53,91,73,0,0,202108,305263,0,20210604,0
5,2020,53,91,73,0,0,247815,404360,0,20210604,0
6,2020,53,91,73,0,0,168783,417216,0,20210604,0
7,2020,53,91,73,0,0,78240,466462,0,20210604,0
8,2020,53,91,73,0,0,198423,412112,0,20210604,0
9,2020,53,91,73,0,0,89697,349050,0,20210604,0

In [32]:
340407 - 288977

51430

In [35]:
demographics = pd.read_csv('data/Washington_District_all.csv')

In [36]:
demographics

,cdTopic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,...,District 06 Estimate,District 06 MOE,District 07 Estimate,District 07 MOE,District 08 Estimate,District 08 MOE,District 09 Estimate,District 09 MOE,District 10 Estimate,District 10 MOE
0,People,Sex and Age,Total population,791545,(+/- 13144 ),760064,(+/- 9980 ),756675,(+/- 3595 ),735797,...,726540,(+/- 8191 ),817787,(+/- 10376 ),770177,(+/- 14232 ),751595,(+/- 11482 ),770391,(+/- 11373 )
1,People,Sex and Age,Male,401063,(+/- 7966 ),374046,(+/- 5689 ),376646,(+/- 2398 ),369593,...,361675,(+/- 5353 ),413691,(+/- 8628 ),381819,(+/- 8395 ),378170,(+/- 7235 ),385121,(+/- 7533 )
2,People,Sex and Age,Female,390482,(+/- 9093 ),386018,(+/- 6827 ),380029,(+/- 2687 ),366204,...,364865,(+/- 5382 ),404096,(+/- 7413 ),388358,(+/- 8976 ),373425,(+/- 8006 ),385270,(+/- 6451 )
3,People,Sex and Age,Under 5 years,50099,(+/- 3134 ),43244,(+/- 2446 ),44316,(+/- 1070 ),55043,...,37632,(+/- 2024 ),37553,(+/- 3033 ),50497,(+/- 3680 ),46065,(+/- 3544 ),48912,(+/- 2750 )
4,People,Sex and Age,5 to 9 years,50817,(+/- 3648 ),42537,(+/- 3543 ),46601,(+/- 2399 ),59738,...,39182,(+/- 2983 ),36191,(+/- 3089 ),50506,(+/- 4114 ),40681,(+/- 3012 ),51700,(+/- 4294 )
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,H Cell value changed by at least 2 percent but...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,J Cell value changed by 5 percent or more by t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,N Not available or not comparable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,S Cell value withheld because it did not meet ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,X Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN