In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/1976-2020-house.csv')

In [8]:
data[data['state'] == 'WASHINGTON'][data[data['party'] =='DEMOCRAT']].groupby('district').sum()

ValueError: Boolean array expected for the condition, not object

In [31]:
data[data['state'] == 'WASHINGTON'][data['year']==2020].groupby('district').sum()

<ipython-input-31-61e3c6d50311>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['state'] == 'WASHINGTON'][data['year']==2020].groupby('district').sum()

,year,state_fips,state_cen,state_ic,special,writein,candidatevotes,totalvotes,unofficial,version,fusion_ticket
district,,,,,,,,,,,
1,6060,159,273,219,0,1,426862,1280586,0,60631812,0
2,6060,159,273,219,0,1,404598,1213794,0,60631812,0
3,6060,159,273,219,0,1,417903,1253709,0,60631812,0
4,6060,159,273,219,0,1,305263,915789,0,60631812,0
5,6060,159,273,219,0,1,404360,1213080,0,60631812,0
6,6060,159,273,219,0,1,417216,1251648,0,60631812,0
7,6060,159,273,219,0,1,466462,1399386,0,60631812,0
8,6060,159,273,219,0,1,412112,1236336,0,60631812,0
9,6060,159,273,219,0,1,349050,1047150,0,60631812,0
10,6060,159,273,219,0,1,340407,1021221,0,60631812,0

In [32]:
340407 - 288977

51430